<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Webcom Technologies | Courses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation"> 
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about-us.html">About Us</a></li>     
                                                <li><a href="packages.html">Courses</a></li>
                                                <li><a href="gallery.html">Gallery</a></li>
                                                <li><a href="trainers.html">Our Trainers</a></li>
                                               
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="contact.html" class="btn">Contact</a></li>
                                               
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Courses</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s">Courses for all stages, with equal focus on theory and Practicals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!--? Pricing Card Start -->
        <section class="pricing-card-area pricing-card-area2 fix">
            <div class="container">
                <div class="row">
                    <!-- CARDS -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30 " >
                            <div class="card-top">
                                <img src="assets/img/icon/price1.svg" alt="">
                                <h4>Advanced Diploma in Computer Application & Web Development</h4>
                              
                            </div>
                           
                            <div class="card-bottom">
                              <p>Computer Application & Web Development is a specialized field of IT in which skills required for designing a website and related aspects are involved.</p>
                                <a href="#" class="borders-btn">Learn More</a>
                            </div>
                        </div>
                    </div><!-- Cards close -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="assets/img/icon/price1.svg" alt="">
                                <h4>
                                    Advanced Diploma in Software Designing & Development
                                    </h4>
                               
                            </div>
                            
                            <div class="card-bottom">
                               <p> Diploma in Software Development is Diploma level Software Engineering programme. This course is particularly aimed at computing software system</p>
                                <a href="#" class="borders-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="assets/img/icon/price1.svg" alt="">
                                <h4>Advanced Diploma in Hardware and Networking</h4>
                           
                            </div>
                          
                            <div class="card-bottom">
                              <p>Diploma in Hardware & Networking is Diploma level Information Technology course.
                                The course provides graduates with a competitive edge in IT world. </p>
                                <a href="#" class="borders-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <img src="assets/img/icon/price1.svg" alt="">
                                <h4>Responsive Web Designing</h4>
                               
                            </div>
                            
                            <div class="card-bottom">
                               <p>Web Designing Course basically deals with creation and maintenance of websites. All those web pages which we see on Google, Yahoo and Firefox are basically designed and maintained by Web-Designers. This course mainly focuses on the core area necessary for the creation of Web sites like HTML, JAVA, and CSS.</p>
                                <a href="#" class="borders-btn">Get Started</a>
                            </div>
                        </div>
                </div>
                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Professional Training in Networking</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Professional Training in Networking course will provide you with the knowledge, understanding, and skills needed to install, configure and maintain local and wide area networks. You will be provided with the hands-on experience of configuring networks at day schools and using online tools.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Tally with GST (Non-Commerce)</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Tally with GST covers in-depth knowledge to meet the accounting requirements of the industry. We not only teach the concepts but also helps you learn how you can Practically implement those concepts in your Day to Day Accounting Process with practical examples and entries in tally.
                            aspects are involved.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Graphic Designing</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Graphic Design is a Multimedia and Animation. Course covers the professional field of Graphics design, which means the art or skill of combining text and pictures in advertisements, magazines or books. It prepares to become skilled and innovative Graphics designers. </p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Android Development</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Android software development is the process by which applications are created for devices running the Android operating system. 
                              Google states that "Android apps can be written using Kotlin, Java, and C++ languages" using the Android software development kit (SDK)
            </p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Basic Computer</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>This course teaches participants basic computer skills that helps participants do their everyday computer work 
                              easily. It covers Basic Microsoft MS Office - Word, Excel, Powerpoint, HTML,CSS.
                              This is designed for beginners who have been out of touch of using computers.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Special Batches</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>We believe transformation of a student so that he becomes employable for IT MNCs. In that effort personality of a candidate plays a key role and our team focuses a lot on that side. </p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Microsoft’s ASP.NET</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>ASP.NET is Microsoft’s next-generation, open-source, and cross-platform framework. It’s designed from the ground up to be fast, flexible, modern, and work across different platforms.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Six Weeks Courses</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                         <p>
                            • BASIC OF COMPUTER<br>
                            • C/C++ LANGUAGE<br>
                            • PYTHON <br>
                            • CORE JAVA<br>
                            • ASP.NET <br>
                            </p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Advance Diploma in Computer Application & Web Development</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Computer Application & Web Development is a specialized field of IT in which skills required for designing a website and related aspects are involved.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Advance Diploma in Computer Application & Web Development</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Computer Application & Web Development is a specialized field of IT in which skills required for designing a website and related aspects are involved.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->

                 <!-- CARDS -->
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <img src="assets/img/icon/price1.svg" alt="">
                            <h4>Advance Diploma in Computer Application & Web Development</h4>
                          
                        </div>
                       
                        <div class="card-bottom">
                          <p>Computer Application & Web Development is a specialized field of IT in which skills required for designing a website and related aspects are involved.</p>
                            <a href="#" class="borders-btn">Learn More</a>
                        </div>
                    </div>
                </div><!-- Cards close -->
            </div>
        </section>

    </main>
    <footer>
        <div class="footer-wrappr " data-background="assets/img/gallery/footer-bg.png">
            <div class="footer-area footer-padding ">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <!-- <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                </div> -->
                                <div class="footer-tittle mb-50">
                                    <p>Subscribe our newsletter to get updates about our services</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <!-- <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div> -->
                                        </form>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social mt-50">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#"> About</a></li>
                                        <li><a href="#">Coursers</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Our Trainers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#"> About</a></li>
                                        <li><a href="#">Coursers</a></li>
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Our Trainers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4 >Contact</h4>
                                        <p style="float: left;">
                                          <i class="fa fa-home mr-3"></i> Haryana, INDIA</p>
                                        <p style="float: left;">
                                          <i class="fa fa-envelope mr-3" style="float: left;"></i> iiceynr@gmail.com</p>
                                        <p style="float: left;">
                                          <i class="fa fa-phone mr-3"></i>+91 98961-98962</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer-copy-right text-center">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>
    
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Scroll Up -->
      <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>

    <!-- Video bg -->
    <script src="./assets/js/jquery.vide.js"></script>

    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    
</body>
</html>