<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Webcom Technologies | Courses</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/font_awesome.css"> 
    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        #hover:hover{ 
           background-color: rgb(220, 195, 243);

            
        }
        #hover p{
        text-align: center;font-weight: bolder; color:black;
        
        }
        #hover:hover h4{
            font-size: 30px;
        }
        #hover:hover .div{
                display: block;
        }
     
        .div{
            display: none;
        
        }
    </style>
</head>
<body>
    <!-- ? Preloader Start -->

    <!-- Preloader Start -->
    <%- include('./partials/navbar') %>                                         
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">OUR TRAINERS</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!--? Pricing Card Start -->
        <section class="pricing-card-area pricing-card-area2 fix">
            <div class="container">
                <div class="row">
                    <!-- CARDS -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div id="hover" class="single-card text-center mb-30 " >
                            <div class="card-top">
<i style="font-size: 70px; color:rgb(71, 18, 87); margin-bottom: 20px;" class="fa fa-user faa-wrench animated"></i>
<h4>Mr. Tajinder Dhawan</h4>
   
                            </div>
                           
                            <div class="card-bottom">
                              <p style="text-align: center;">Managing Director</p>
                           
                            </div>
                        </div>
                    </div><!-- Cards close -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div id="hover" class="single-card text-center mb-30 " >
                            <div class="card-top">
                                <i style="font-size: 70px; margin-bottom: 20px; color:rgb(71, 18, 87);" class="fas fa-user faa-wrench animated"></i>
                                <h4>Mr. Nikhil Sharma </h4>
                              
                            </div>
                           
                            <div class="card-bottom">
                              <p >Full Stack Developer</p>
                           <div class="div">
                              <ul style="font-weight:bold;">
                                <li>MEAN/MERN Stack</li>
                                <li>Python-Django</li>
                                <li>AWS,AZURE,GCP</li>
                                <li>Docker,Kubernetes</li>
                            </ul>
                            </div>
                               
                            </div>
                        </div>
                    </div><!-- Cards close -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div  id="hover" class="single-card text-center mb-30 " >
                            <div class="card-top">
                                <i style="font-size: 70px;  margin-bottom: 20px;color:rgb(71, 18, 87);" class="fas fa-user faa-wrench animated"></i>

                                <h4>Mr. Dhruv Sharma</h4>
                              
                            </div>
                           
                            <div class="card-bottom">
                              <p>Full Stack Developer</p>
                              <div class="div">
                              <ul>
                                <li>NodeJS - MongoDB</li>
                                <li>Python</li>
                                <li>ASP .NET</li>
                                <li>Docker,Kubernetes</li>
                            </ul>
                            </div>
                            </div>
                        </div>
                    </div><!-- Cards close -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div  id="hover" class="single-card text-center mb-30 " >
                            <div class="card-top">
                                <i style="font-size: 70px; margin-bottom: 20px; color:rgb(71, 18, 87);" class="fas fa-user faa-wrench animated"></i>

                                <h4>Mr. Kawaljeet Singh</h4>
                              
                            </div>
                           
                            <div class="card-bottom">
                              <p style="text-align: center;">Cyber Security Expert</p>
                               
                            </div>
                        </div>
                    </div><!-- Cards close -->

<!-- Cards close -->
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover" class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px; color:rgb(71, 18, 87); margin-bottom: 20px;" class="fas fa-user faa-wrench animated"></i>
            <h4>Ms. Sharry verma</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Web Designer and Programmer</p>
           
        </div>
    </div>
</div><!-- Cards close -->
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover" class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px; margin-bottom: 20px; color:rgb(71, 18, 87);" class="fas fa-user faa-wrench animated"></i>
            <h4>Ms. Sunaina Bawa</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Tally Expert and Graphic Designer</p>
           
        </div>
    </div>
</div><!-- Cards close -->
<!-- Cards close -->

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover" class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px; margin-bottom: 20px; color:rgb(71, 18, 87);" class="fas fa-user-alt"></i>
            <h4>Ms. Prabhleen Kaur</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Graphic Designer</p>
           
        </div>
    </div>
</div><!-- Cards close -->
<!-- Cards close -->
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover"class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px;  margin-bottom: 20px;color:rgb(71, 18, 87);" class="fas fa-user-alt"></i>
            <h4>Ms. Koshima</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Web Designer</p>
           
        </div>
    </div>
</div><!-- Cards close -->

   <!-- Cards close -->
   <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover" class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px; margin-bottom: 20px; color:rgb(71, 18, 87);" class="fas fa-user-alt"></i>
            <h4>Ms. Parteek Kaur</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Web Designer</p>
           
        </div>
    </div>
</div><!-- Cards close -->


<div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
    <div id="hover" class="single-card text-center mb-30 " >
        <div class="card-top">
            <i style="font-size: 70px; color:rgb(71, 18, 87); margin-bottom: 20px;" class="fas fa-user faa-wrench animated"></i>
            <h4>Ms. Baban</h4>
          
        </div>
       
        <div class="card-bottom">
          <p style="text-align: center;">Ilets Instructor</p>
           
        </div>
    </div>
</div><!-- Cards close -->
            </div>

            
         
        </section>

    </main>
    <%- include('./partials/footer') %>

      <!-- Scroll Up -->
      <%- include('./partials/backtotop') %>
    <!-- JS here -->
    <%- include('./partials/bottom') %>